main {
  flex-grow: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 156px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.gallery-item {
  flex: 0 1 calc((100% - 72px) / 3);
  transition: transform 0.5s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.044);
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 44 44'><path fill='#4E75FF' d='M19.221 10.803L12 10V4a2 2 0 0 0-4 0v12l-3.031-1.212a2 2 0 0 0-2.64 1.225l-.113.34a1 1 0 0 0 .309 1.084l5.197 4.332c.179.149.406.231.64.231H19a2 2 0 0 0 2-2v-7.21a2 2 0 0 0-1.779-1.987'/></svg>") 5 2, pointer;
    pointer;
}

.basicLightbox {
  opacity: 0;
  transition: opacity 0.5ms ease-in-out;
  pointer-events: none;
}

.basicLightbox--visible {
  opacity: 1;
  pointer-events: auto;
}
